.shoe-one{
    border: 0;
    
}
.pandar-cardfooter{
    border: 0;
    background-color: white;
}
.catagories img{
    width: 100px;
}
.panda-slide .carousel-item{
    background-color: #ec8dc1;
    border-radius: 2mm;
}